
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#virus {
  height: 40px;
  width:40px;
  display: inline;
  z-index: 1000;
  margin: 5px 5px 5px 5px;
}
#nav{
  list-style: none;
  
}
.safe , .leaflet-popup-tip, .leaflet-popup-content , .leaflet-popup-content-wrapper{
  background-color: rgb(31, 30, 30);
  color: whitesmoke;
  font: caption;
  border-radius: 15px;
}